/*archivos utilities*/
/*reset*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F0EDCF;
  width: 100%;
  font-family: "Bebas Neue", sans-serif; }
  body p {
    font-size: 0.875rem; }

.bContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
  gap: 0px; }

/*layout*/
header {
  background-color: #000000;
  font-size: 1.375rem;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0;
  grid-area: "header"; }
  header a:hover {
    font-weight: bold;
    filter: grayscale(50%); }

.navbar {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas: ". titulo titulo mundo . . home footers continents"; }
  .navbar a {
    text-decoration: none;
    color: #F0EDCF;
    font-size: 1.375rem;
    padding: 1rem; }

#titulo {
  color: #0B60B0;
  font-size: 2.5rem; }

#footers {
  grid-area: footers; }

#mundo {
  grid-area: mundo; }

#home {
  grid-area: home; }

#continents {
  grid-area: continents; }

#titulo {
  grid-area: titulo; }

main {
  width: 100%;
  height: 100%; }
  main section h2 {
    display: inline-block;
    color: #40A2D8;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #0B60B0;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.625rem; }

.mainPrincipal {
  width: 100%;
  height: 100%;
  background-image: url("../assets/earth.jpg");
  background-size: cover;
  background-position: center; }

#mundo {
  width: 46px;
  height: 46px; }

.flexboxMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.875rem;
  margin-bottom: 1.875rem;
  grid-area: "main";
  justify-content: space-around;
  align-items: center; }

.intro {
  color: #F0EDCF;
  width: 31.25rem;
  height: 31.25rem;
  padding: 16px; }

.continents {
  width: 26.875rem;
  height: 31.25rem;
  justify-content: right;
  padding: 16px; }
  .continents a {
    text-decoration: none;
    color: #F0EDCF;
    font-size: 2.5rem; }
  .continents ul {
    text-align: center;
    list-style: none; }
    .continents ul li:hover {
      font-weight: bold;
      filter: grayscale(50%); }

#slogan, #phrase_author {
  font-size: 1.5rem;
  color: #40A2D8; }

#presentation {
  font-size: 5rem;
  background-image: linear-gradient(to right top, #f0edcf, #c8e0c0, #9cd1bd, #71c1c2, #55adc9, #459ec9, #438dc6, #4f7bbf, #3f6ebb, #2e61b6, #1b54b1, #0047ab);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

#phrase {
  font-size: 2.25rem;
  color: #0B60B0; }

#offer {
  font-size: 2.5rem;
  color: #40A2D8; }

.africa {
  background-image: linear-gradient(to left top, #3ed82f, #00d762, #00d485, #00d0a1, #00cbb4, #00c4cc, #00badd, #00aee5, #5996ea, #9c76d4, #c74ea2, #d3295d); }

.america {
  background-image: linear-gradient(to top, #3411b5, #004fd7, #0077ea, #009cf3, #00bdf5, #00c7e2, #00cebf, #47d093, #81b847, #b19800, #d96b00, #f0173d); }

.asia {
  background-image: linear-gradient(to left, #250fbc, #004ed8, #0073e1, #0091de, #00add6, #00bdd5, #00cbc9, #00d8b5, #00dfa0, #00e582, #00e959, #28ec0a); }

.europa {
  background-image: linear-gradient(to right bottom, #3529c2, #3147cc, #3960d3, #4b76d6, #628bd7, #6496d8, #6aa0d8, #74a9d7, #65abd6, #54add4, #44afd0, #33b1cb); }

.cardf {
  width: 30%;
  margin: 8px; }

footer {
  color: #F0EDCF;
  font-size: 18px;
  background-color: #000000;
  padding: 0.5rem;
  width: 100%; }
  footer h2 {
    color: #40A2D8;
    font-size: 1.625rem; }

.socialNet {
  width: 2.75rem;
  height: 2.75rem;
  background-color: #F0EDCF;
  padding: 0.5rem; }

.flexboxFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*components*/
.mundo {
  text-align: center;
  margin-bottom: 0.5rem; }
  .mundo h1 {
    margin: 1rem;
    font-size: 2.5rem; }
  .mundo p {
    font-size: 0.75rem; }
  .mundo img {
    height: 14.6875rem;
    width: 15.0625rem; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.cardd {
  width: 23.625rem;
  height: 28.125rem;
  padding: 0.25rem;
  margin: 1rem; }
  .cardd p {
    margin-top: 0.5rem;
    width: 100%;
    height: 30%;
    overflow: auto;
    font-size: 0.875rem;
    padding: 0.75rem;
    background-image: linear-gradient(to right bottom, #f0edcf, #e9e6ca, #e1dec5, #dad7c0, #d3d0bb, #cecbb6, #c8c6b2, #c3c1ad, #bfbda7, #bbb8a1, #b7b49b, #b3b095); }
  .cardd div:hover {
    filter: grayscale(100%); }
  .cardd h2 {
    background-image: linear-gradient(to right bottom, #421dcb, #5130ce, #5e3fd0, #6a4ed2, #765cd4, #6270e1, #4e82eb, #3b92f1, #00a9f7, #00bcf3, #00cde8, #3edcdb);
    color: #292146; }

/*mediaqueries*/
@media (max-width: 420px) {
  .navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas: "titulo titulo mundo" "home continents footers";
    gap: 0px; }
  footer {
    font-size: 0.5625rem; }
    footer h2 {
      font-size: 0.8125rem; }
  #slogan, #phrase_author {
    grid-area: sl;
    font-size: 1.125rem;
    text-align: center; }
  #presentation {
    grid-area: pres;
    font-size: 3rem;
    color: #F0EDCF;
    text-align: center; }
  #phrase {
    grid-area: phras;
    font-size: 1.5rem;
    color: #40A2D8;
    text-align: center; }
  #phrase_author {
    grid-area: phrase_a;
    color: #000000; }
  .intro {
    height: 12.5rem;
    text-align: center; }
  #offer {
    font-size: 1.5rem;
    color: #000000;
    text-align: center; }
  .elemen {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "afri ame" "as eu";
    gap: 0.5rem; }
  #afri {
    grid-area: afri;
    padding: 2px;
    background-color: #0B60B0; }
  #ame {
    grid-area: ame;
    padding: 2px;
    background-color: #0B60B0; }
  #as {
    grid-area: as;
    padding: 2px;
    background-color: #0B60B0; }
  #eu {
    grid-area: eu;
    padding: 2px;
    background-color: #0B60B0; }
  .continents {
    width: 100%;
    height: 18.75rem;
    grid-area: "continents";
    justify-content: center; }
    .continents a {
      font-size: 1.25rem; }
  .cardd {
    width: 17.5rem; }
    .cardd p {
      font-size: 0.75rem; }
  .intro {
    height: 100%;
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 2fr, 2fr, 1fr;
    grid-template-areas: "sl" "pres" "phras" "phrase_a";
    gap: 0.5rem; }
  .flexboxMain {
    margin-top: 1.875rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "intro" "continents";
    gap: 0px; }
  h3 {
    font-size: 0.875rem; } }
