/***********************BODY***********************/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #F0EDCF;
    width: 100%;
}


p{
    font-size:14px;
}

/***********************HEADER***********************/

header{
    background-color: black;
    font-size: 1.375rem;
    width:100%;
    text-align: center;
    position: sticky;
    top:0;
    grid-area: "header";
}

#titulo{
    color: #0B60B0;
    font-size: 2.5rem;
}

.navbar a{
    text-decoration: none;
    color:#F0EDCF;
    font-size: 1.375rem;
    padding: 1rem;
}

.navbar{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    ". titulo titulo mundo . . home continents footers ."
    ;

}


#footers{
    grid-area: footers;
}


#mundo{
    grid-area: mundo;
}

#home{
    grid-area: home;
}

#continents{
    grid-area: continents;
}

#titulo{
    grid-area: titulo;
}



/***********************MAIN***********************/

.mainPrincipal{
    width: 100%;
    height: 100%;
    background-image: url("../assets/earth.jpg");
    background-size: cover;
    background-position: center;
}


main{
    width: 100%;
    height: 100%;
}

#mundo{
    width: 46px;
    height: 46px; 
}

.flexboxMain{
    margin-top: 6.875rem;
    grid-area: "main";
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.intro{
    color:#F0EDCF;
    width:31.25rem;
    height:31.25rem;
    padding: 16px;
}

.continents{
    width: 26.875rem;
    height: 31.25rem;
    justify-content: right;
    padding: 16px;
}

#slogan{
    font-size: 24px;
    color: #40A2D8;
}

#presentation{
    font-size: 5rem;
    color: #000000;
    margin:0px;
}

#phrase{
    font-size: 2.25rem;
}

#phrase_author{
    font-size: 1.125rem;
}

#offer{
    font-size: 2.5rem;
    color: #40A2D8;
}

.continents a{
    text-decoration: none;
    color:#F0EDCF;
    font-size: 2.5rem;
}


main section h2{
    display: inline-block;
    color: #40A2D8;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #0B60B0;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.625rem;
}

.mundo h1{
    margin:0.25rem;
    font-size: 2.5rem;
}

.mundo{
    text-align: center;
    margin-bottom: 0.5rem;
}

.mundo p{
    font-size: 0.75rem;
}

.mundo img{
    height: 14.6875rem;
    width: 15.0625rem;
}

.card{
    width: 23.625rem;
    height: 24.375rem;
    padding: 0.25rem;
    margin:1rem;
    
}

.card p{
    width: 100%;
    height: 20%;
    overflow: auto;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.continents ul{
    text-align: center;
    list-style: none;
}

li:hover{
    font-weight: bold;
    filter:grayscale(50%);
}

.card div:hover{
    filter: grayscale(100%);
}

.flexboxHeader a:hover{
    font-weight: bold;
    filter:grayscale(50%);
}

.bContainer{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}


/***********************FOOTER***********************/

.cardf{
    width: 30%;
    margin: 8px;
}

footer{
    color: #F0EDCF;
    font-size: 18px;
    background-color: black;
    padding:8px;
    width:100%;
}

footer h2{
    color: #40A2D8;
    font-size: 1.625rem;
}



.socialNet{
    width: 2.75rem; 
    height: 2.75rem;
    background-color: #F0EDCF;
    padding:0.5rem;
}

.flexboxFooter{
    grid-area: "footer";
    display: flex;
    justify-content: center;
}


/***********************MEDIA QUERIES***********************/

@media (max-width: 420px){
    

    .navbar{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr;

        grid-template-areas: 
        "titulo titulo mundo"
        "home continents footers"
        ;
    
    }

    footer{
        font-size: 0.5625rem;
    }
    
    footer h2{
        font-size: 0.8125rem;
    }

    
    #slogan{
        font-size: 0.875rem;
        text-align: center;
    }
    
    #presentation{
        font-size: 3rem;
        text-align: center;
    }
    
    #phrase{
        font-size: 1.5rem;
        text-align: center;
    }

    .intro{
        height:12.5rem;
        text-align: center;
    }

    
    #offer{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    }

    .elemen{
        margin-top: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "afri ame"
        "as" "eu"
        ;
        gap:0.5rem;
    }

    #afri{
        grid-area: afri;
        padding: 2px;
        background-color: #0B60B0;
    }

    #ame{
        grid-area: ame;
        padding: 2px;
        background-color: #0B60B0;
    }

    #as{
        grid-area: as;
        padding: 2px;
        background-color: #0B60B0;
    }

    #eu{
        grid-area: eu;
        padding: 2px;
        background-color: #0B60B0;
    }

    .continents a{
        font-size: 1.25rem;
    }

    .card{
        width: 17.5rem;
    }

    .card p{
        font-size: 0.75rem;
        
    }

}