main{
    width: 100%;
    height: 100%;

    section h2{
        display: inline-block;
        color: map-get($colores,celeste);
        font-size: 1.5rem;
        text-decoration: none;
        background-color: map-get($colores,azulMarino);
        padding: 0.25rem;
        margin: 0.25rem;
        border-radius: 0.625rem;
    }
}

.mainPrincipal{
    width: 100%;
    height: 100%;
    background-image: url("../assets/earth.jpg");
    background-size: cover;
    background-position: center;
}

#mundo{
    width: 46px;
    height: 46px; 
}

.flexboxMain{
    @include flex;
    margin-top: 6.875rem;
    margin-bottom: 1.875rem;
    grid-area: "main";
    justify-content:space-around;
    align-items: center;
}

.intro{
    color:map-get($colores,crema);
    width:31.25rem;
    height:31.25rem;
    padding: 16px;
}

.continents{
    width: 26.875rem;
    height: 31.25rem;
    justify-content: right;
    padding: 16px;

    a{
        text-decoration: none;
        color:map-get($colores,crema);
        font-size: 2.5rem;
    }

    ul{
        text-align: center;
        list-style: none;

        li:hover{
            font-weight: bold;
            filter:grayscale(50%);
        }
    }
}

#slogan{
    font-size: 1.5rem;
    color: map-get($colores,celeste);
}

#presentation{
    font-size: 5rem;
    background-image: linear-gradient(to right top, #f0edcf, #c8e0c0, #9cd1bd, #71c1c2, #55adc9, #459ec9, #438dc6, #4f7bbf, #3f6ebb, #2e61b6, #1b54b1, #0047ab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#phrase{
    font-size: 2.25rem;
    color: map-get($colores,azulMarino);
}

#phrase_author{
    @extend #slogan;

}

#offer{
    font-size: 2.5rem;
    color: map-get($colores,celeste);
}

