body {
    background-color: map-get($colores,crema);
    width: 100%;
    font-family: $tipografia;

    p{
        font-size:0.875rem;
    }
}

.bContainer{
    width: 100%;
    height: 100vh;
    @include grid(1fr, auto auto auto, "header"
    "main"
    "footer", 0px);
}

